In [108]:
import pandas as pd
import numpy as np
import sys
from openpyxl import load_workbook
 
import matplotlib.dates as mdates

In [43]:
df = pd.read_excel('InputData.xlsx')
df1 = df['到达日期']
df2 = df1.astype(str) +" " +df['到达时刻'].astype(str)
transactions=pd.to_datetime(df2, format='%Y-%m-%d  %H:%M:%S')
transactions.to_csv('df2.csv')
df3 = df['出发日期'].astype(str) +" " +df['出发时刻'].astype(str)
df3 = pd.to_datetime(df3, format='%Y-%m-%d  %H:%M:%S')
df4 = pd.DataFrame({"到达时间":transactions, "出发时间":df3 , "到达航班":df['到达航班'], "出发航班":df['出发航班']})
df4.to_excel('date.xlsx', encoding='utf_8_sig')

In [51]:
df5 = pd.read_excel('date.xlsx')

In [52]:
df6 = pd.read_excel('368xm.xlsx')
df6['y'] = pd.Series(np.arange(1,70))
df6.to_excel('368xm.xlsx')

PermissionError: [Errno 13] Permission denied: '368xm.xlsx'

In [104]:
df6 = pd.read_excel('368xm.xlsx')
X = [i for i in df6['t7']]
X1 = [i-1 for i in X]
X1 = [i for i in X1 if i != -1]

In [105]:
df5 = pd.read_excel('date.xlsx')
df5 = pd.DataFrame({'time1':df5['到达时间'][X1],  'time2':df5['出发时间'][X1], 
                   '到达航班':df5['到达航班'][X1], '出发航班': df5['出发航班'][X1]})

In [106]:
df5.head()

                  time1               time2    到达航班    出发航班
414 2018-01-20 21:50:00 2018-01-20 22:50:00  NV6319  NV3652
421 2018-01-20 22:25:00 2018-01-20 23:15:00  GN0645   *****
423 2018-01-20 22:30:00 2018-01-21 07:35:00  GN0639  GN0234

In [107]:
df5.to_excel('shuju.xlsx')

In [115]:
pdf = pd.read_excel('368图.xlsx', sheet_name = [0,1,2,3,4,5,6])

In [116]:
pdf[1][""]

     班次   y               time1               time2    到达航班    出发航班
0    62  10 2018-01-19 14:55:00 2018-01-20 16:20:00  GN0523  GN0256
1    72  11 2018-01-19 15:35:00 2018-01-20 17:05:00  GN0497  GN0644
2    89   3 2018-01-19 16:30:00 2018-01-20 13:30:00   NV663   NV692
3    94   4 2018-01-19 16:55:00 2018-01-20 13:00:00   NV693   NV662
4   102  12 2018-01-19 17:35:00 2018-01-20 13:50:00  GN0209  GN0658
5   104  26 2018-01-19 17:50:00 2018-01-20 00:20:00   NV697   NV840
6   106  25 2018-01-19 17:55:00 2018-01-20 00:55:00  NV6489   NV880
7   107  27 2018-01-19 18:00:00 2018-01-20 00:05:00   NV601   NV664
8   108  28 2018-01-19 18:05:00 2018-01-20 00:20:00   NV821   NV608
9   112  20 2018-01-19 18:20:00 2018-01-20 10:10:00  NV6253   NV316
10  117  13 2018-01-19 18:35:00 2018-01-20 07:45:00  NV6779  NV6738
11  129  59 2018-01-19 19:20:00 2018-01-20 00:05:00   NV319   NV846
12  131  60 2018-01-19 19:30:00 2018-01-20 00:10:00   NV673   NV320
13  136  14 2018-01-19 19:50:00 2018-01-20 08:15:00  NV6753  NV6358
14  142  21 2018-01-19 20:10:00 2018-01-20 10:40:00  GN0237   GN920
15  144   1 2018-01-19 20:10:00 2018-01-20 01:50:00   NV621   NV322
16  145   8 2018-01-19 20:10:00 2018-01-20 13:55:00  NV6317  NV6540
17  147  15 2018-01-19 20:15:00 2018-01-20 08:20:00  NV6725  NV6724
18  148   7 2018-01-19 20:20:00 2018-01-20 09:30:00  NV6549   NV306
19  149  39 2018-01-19 20:25:00 2018-01-20 00:15:00   NV317  NV6134
20  150  16 2018-01-19 20:25:00 2018-01-20 06:40:00  NV3278  NV3446
21  151   5 2018-01-19 20:30:00 2018-01-20 10:05:00  NV6117   NV866
22  155  17 2018-01-19 20:45:00 2018-01-20 09:00:00  NV6375  NV6230
23  156  22 2018-01-19 21:00:00 2018-01-20 08:00:00  NV6495  NV6154
24  159  61 2018-01-19 21:05:00 2018-01-20 12:30:00   NV651   NV898
25  168  18 2018-01-19 21:40:00 2018-01-20 09:25:00  NV6241  NV6376
26  170  19 2018-01-19 21:50:00 2018-01-20 08:05:00  NV3270  NV3263
27  171  29 2018-01-19 21:50:00 2018-01-20 08:30:00  NV6319  NV6734
28  173  30 2018-01-19 22:00:00 2018-01-20 06:40:00  GN0541  GN0480
29  174  31 2018-01-19 22:00:00 2018-01-20 09:55:00  NV6405  NV3280
..  ...  ..                 ...                 ...     ...     ...
36  184  37 2018-01-19 22:45:00 2018-01-20 09:05:00  NV0747  NV6446
37  187  38 2018-01-19 22:55:00 2018-01-20 08:25:00  NV6615  NV6548
38  188  42 2018-01-19 23:00:00 2018-01-20 06:55:00  NV6557  NV3286
39  191  43 2018-01-19 23:15:00 2018-01-20 09:00:00  GN0363  GN0414
40  192  44 2018-01-19 23:20:00 2018-01-20 07:35:00  GN0455  GN0234
41  193  45 2018-01-19 23:20:00 2018-01-20 09:20:00  NV3447  NV6504
42  194  46 2018-01-19 23:25:00 2018-01-20 11:10:00  NV6471  NV6656
43  195  47 2018-01-19 23:30:00 2018-01-20 09:05:00  NV3195  NV6514
44  196  48 2018-01-19 23:40:00 2018-01-20 14:10:00  GN0643  NV6722
45  197  49 2018-01-19 23:55:00 2018-01-20 09:25:00  GN0405  GN0548
46  208   2 2018-01-19 05:00:00 2018-01-20 14:20:00   NV847   NV690
47  414  56 2018-01-20 21:45:00 2018-01-20 22:50:00  NV6737  NV3993
48  441  51 2018-01-20 00:10:00 2018-01-20 15:50:00  GN0349  GN0488
49  442  52 2018-01-20 00:15:00 2018-01-20 08:30:00  GN0401  GN0678
50  443  53 2018-01-20 00:15:00 2018-01-20 07:50:00  NV6723  NV6708
51  445   6 2018-01-20 00:25:00 2018-01-20 12:25:00  NV6589   NV810
52  446  50 2018-01-20 00:05:00 2018-01-20 08:10:00  GN0657  GN0454
53  447  54 2018-01-20 01:30:00 2018-01-20 06:55:00  NV6487  NV3615
54  448  55 2018-01-20 01:35:00 2018-01-20 09:15:00  GN0453  GN0630
55  452  23 2018-01-20 04:55:00 2018-01-20 06:55:00   NV675   NV675
56  458  62 2018-01-20 05:45:00 2018-01-21 00:55:00   NV891   NV880
57  460  63 2018-01-20 05:55:00 2018-01-20 12:15:00   NV343  NV6118
58  461  64 2018-01-20 05:55:00 2018-01-20 11:40:00   NV851   NV828
59  463  65 2018-01-20 06:25:00 2018-01-20 14:35:00  NV6181   NV676
60  464  66 2018-01-20 06:25:00 2018-01-20 12:05:00   NV689   NV318
61  465  40 2018-01-20 06:30:00 2018-01-20 09:20:00   GN943   GN996
62  466  67 2018-01-20 06:55:00 2018-01-20 13:00:00   NV883   NV640
63  468  68 2018-01-20 07:00:00 2018-01-20 12:25:00   NV665   NV670
64  470  41 2018-01-20 07:20:00 2018-01-20 08:35:00   GN973   GN940
65  471  69 2018-01-20 07:20:00 2018-01-20 17:20:00   NV659   NV682

[66 rows x 6 columns]